<html>
  <head>
    <title>Video Streaming Demonstration</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  </head>
  <body>
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>


    <h1>Video Streaming Demonstration</h1>

    {% if session['logged_in'] %} 
        <form action="/logout" method="post">
            <input type="submit" value="Log out">
        </form>

        <form action="/config" method="post">
            <label for="resolution">Resolution</label>
            <select id="resolution" name="resolution">
              <option value="200x200" {% if para.resolution =="200x200" %} selected {% endif %}>200 x 200</option>
              <option value="300x300" {% if para.resolution =="300x300" %} selected {% endif %}>300 x 300</option>
              <option value="400x400" {% if para.resolution =="400x400" %} selected {% endif %}>400 x 400</option>
              <option value="500x500" {% if para.resolution =="500x500" %} selected {% endif %}>500 x 500</option>
            </select>
            <br>
            <label for="brightness">Brightness</label>
            <input type="range" min="1" max="100" value="{{para.brightness}}" class="slider" id="brightness" name="brightness">
            <br>
            <label for="contrast">Contrast</label>
            <input type="range" min="-100" max="100" value="{{ para.contrast}}" class="slider" id="contrast"  name="contrast">
            <br>
            <label for="saturation">Saturation</label>
            <input type="range" min="-100" max="100" value="{{ para.saturation}}" class="slider" id="saturation"  name="saturation">
            <br>
            <label for="exposure_mode">Exposure mode</label>
            <select id="exposure_mode" name="exposure_mode">
              <option value="off" {% if para.exposure_mode =="off" %} selected {% endif %}>off</option>
              <option value="auto" {% if para.exposure_mode =="auto" %} selected {% endif %}>auto</option>
              <option value="night" {% if para.exposure_mode =="night" %} selected {% endif %}>night</option>
              <option value="nightpreview" {% if para.exposure_mode =="nightpreview" %} selected {% endif %}>nightpreview</option>
              <option value="blacklight" {% if para.exposure_mode =="blacklight" %} selected {% endif %}>blacklight</option>
              <option value="spotlight" {% if para.exposure_mode =="spotlight" %} selected {% endif %}>spotlight</option>
              <option value="sports" {% if para.exposure_mode =="sports" %} selected {% endif %}>sports</option>
              <option value="snow" {% if para.exposure_mode =="snow" %} selected {% endif %}>snow</option>
              <option value="beach" {% if para.exposure_mode =="beach" %} selected {% endif %}>beach</option>
              <option value="verylong" {% if para.exposure_mode =="verylong" %} selected {% endif %}>verylong</option>
              <option value="fixedfps" {% if para.exposure_mode =="fixedfps" %} selected {% endif %}>fixedfps</option>
              <option value="antishake" {% if para.exposure_mode =="antishake" %} selected {% endif %}>antishake</option>
              <option value="fireworks" {% if para.exposure_mode =="fireworks" %} selected {% endif %}>fireworks</option>
            </select>
            <br>
            <label for="awb">Auto white balance Mode</label>
            <select id="awb" name="awb">
              <option value="off" {% if para.awb_mode =="off" %} selected {% endif %}>off</option>
              <option value="auto" {% if para.awb_mode =="auto" %} selected {% endif %}>auto</option>
              <option value="sunlight" {% if para.awb_mode =="sunlight" %} selected {% endif %}>sunlight</option>
              <option value="cloudy" {% if para.awb_mode =="cloudy" %} selected {% endif %}>cloudy</option>
              <option value="shade" {% if para.awb_mode =="shade" %} selected {% endif %}>shade</option>
              <option value="tungsten" {% if para.awb_mode =="tungsten" %} selected {% endif %}>tungsten</option>
              <option value="fluorescent" {% if para.awb_mode =="fluorescent" %} selected {% endif %}>fluorescent</option>
              <option value="incandescent" {% if para.awb_mode =="incandescent" %} selected {% endif %}>tungsten</option>
              <option value="flash" {% if para.awb_mode =="flash" %} selected {% endif %}>flash</option>
              <option value="horizon" {% if para.awb_mode =="horizon" %} selected {% endif %}>horizon</option>
            </select>
            <br>
            <button>show text</button><br>
            <button>Show Probablity</button><br>
            <input type="submit" value="Ensure the modification">
        </form>

        <script>
            $("resolution").change(function (){
                            
            })
        </script>
    {% else %} 
        <form method='post'>
            <input type="submit" value="Login">
        </form>
    {% endif %}

    <img src="{{ url_for('webcam.video_feed') }}">


  </body>
</html>
