<html>
  <head>
    <title>Video Streaming Demonstration</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  </head>
  <body>
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>


    <h1>Video Streaming Demonstration</h1>

    {% if session['logged_in'] %} 
        <form action="/logout" method="post">
            <input type="submit" value="Log out">
        </form>

        <form action="/config" method="post">
            <label for="resolution">Resolution</label>
            <select id="resolution" name="resolution">
              <option value="200x200" {% if para.resolution =="200x200" %} selected {% endif %}>200 x 200</option>
              <option value="300x300" {% if para.resolution =="300x300" %} selected {% endif %}>300 x 300</option>
              <option value="400x400" {% if para.resolution =="400x400" %} selected {% endif %}>400 x 400</option>
              <option value="500x500" {% if para.resolution =="500x500" %} selected {% endif %}>500 x 500</option>
            </select>
            <br>
            <label for="brightness">Brightness</label>
            <input type="range" min="1" max="100" value="{{para.brightness}}" class="slider" id="brightness" name="brightness">
            <br>
            <label for="contrast">Contrast</label>
            <input type="range" min="-100" max="100" value="{{ para.contrast}}" class="slider" id="contrast"  name="contrast">
            <br>
            <label for="drc">DRC_strength</label>
            <select id="drc" name="drc">
              <option value="off" {% if para.drc =="200x200" %} selected {% endif %}>off</option>
              <option value="low" {% if para.drc =="low" %} selected {% endif %}>low</option>
              <option value="medium" {% if para.drc =="medium" %} selected {% endif %}>medium</option>
              <option value="high" {% if para.drc =="high" %} selected {% endif %}>high</option>
            </select>
            <br>
            <button>show text</button><br>
            <button>Show Probablity</button><br>
            <input type="submit" value="Ensure the modification">
        </form>

        <script>
            $("resolution").change(function (){
                            
            })
        </script>
    {% else %} 
        <form method='post'>
            <input type="submit" value="Login">
        </form>
    {% endif %}

    <img src="{{ url_for('webcam.video_feed') }}">


  </body>
</html>
